/* 기본 글씨 크기 (PC 화면) */
h6 {
    font-size: 24px; /* 또는 원하는 크기 */
}

/* 모바일 화면에서의 글씨 크기 */
@media (max-width: 768px) {
    h6 {
        font-size: 14px; /* 또는 원하는 작은 크기 */
    }
}

@media screen and (min-width: 768px) {
    .mobile-break {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .desktop-break {
        display: none;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* 예시 배경색 */
    color: black; /* 텍스트 색상 */
    text-align: center;
    padding: 1rem 0; /* 상하 패딩 */
}